/*!
 * Project_Name: Themezy Band Template
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
/*=========================================== 
 * Importing CSS Libraries
 *===========================================*/


img {
  border: 0; }

figure {
  margin: 0; }

/* line 9, sass/libs/_global.scss */
#site-content {
  overflow: hidden; }

/* line 1, sass/libs/_component.scss */
.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fd5927;
  border: none;
  color: white;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease;
          transition: .3s ease; }
  /* line 11, sass/libs/_component.scss */
  .button:hover {
    background-color: #fd805a; }
  /* line 15, sass/libs/_component.scss */
  .button.primary {
    background-color: #fd5927; }
    /* line 17, sass/libs/_component.scss */
    .button.primary:hover {
      background-color: #fd805a; }
  /* line 21, sass/libs/_component.scss */
  .button.secondary {
    background-color: #848484;
    color: white; }
    /* line 24, sass/libs/_component.scss */
    .button.secondary:hover {
      background-color: #9e9e9e; }
  /* line 29, sass/libs/_component.scss */
  .button.small {
    padding: 5px 10px; }
  /* line 33, sass/libs/_component.scss */
  .button.cut-corner {
    background: -webkit-linear-gradient(90deg, #fd5927, #fd5927) top left, -webkit-linear-gradient(90deg, #fd5927, #fd5927) top right, -webkit-linear-gradient(135deg, transparent 10px, #fd5927 0) bottom right, -webkit-linear-gradient(90deg, #fd5927, #fd5927) bottom left;
    background: linear-gradient(0deg, #fd5927, #fd5927) top left, linear-gradient(0deg, #fd5927, #fd5927) top right, linear-gradient(315deg, transparent 10px, #fd5927 0) bottom right, linear-gradient(0deg, #fd5927, #fd5927) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat; }
    /* line 41, sass/libs/_component.scss */
    .button.cut-corner:hover {
      background: -webkit-linear-gradient(90deg, #fd805a, #fd805a) top left, -webkit-linear-gradient(90deg, #fd805a, #fd805a) top right, -webkit-linear-gradient(135deg, transparent 10px, #fd805a 0) bottom right, -webkit-linear-gradient(90deg, #fd805a, #fd805a) bottom left;
      background: linear-gradient(0deg, #fd805a, #fd805a) top left, linear-gradient(0deg, #fd805a, #fd805a) top right, linear-gradient(315deg, transparent 10px, #fd805a 0) bottom right, linear-gradient(0deg, #fd805a, #fd805a) bottom left;
      background-size: 55% 55%;
      background-repeat: no-repeat; }
    /* line 50, sass/libs/_component.scss */
    .button.cut-corner:active {
      background: -webkit-linear-gradient(90deg, #d63302, #d63302) top left, -webkit-linear-gradient(90deg, #d63302, #d63302) top right, -webkit-linear-gradient(135deg, transparent 10px, #d63302 0) bottom right, -webkit-linear-gradient(90deg, #d63302, #d63302) bottom left;
      background: linear-gradient(0deg, #d63302, #d63302) top left, linear-gradient(0deg, #d63302, #d63302) top right, linear-gradient(315deg, transparent 10px, #d63302 0) bottom right, linear-gradient(0deg, #d63302, #d63302) bottom left;
      background-size: 55% 55%;
      background-repeat: no-repeat; }

/* IMAGE LIGHTBOX SELECTOR */
/* line 64, sass/libs/_component.scss */
#imagelightbox {
  cursor: pointer;
  position: fixed;
  z-index: 10000;
  -ms-touch-action: none;
  touch-action: none;
  /* 50 */
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
  /* 50 */ }

/* ACTIVITY INDICATION */
/* line 80, sass/libs/_component.scss */
#imagelightbox-loading,
#imagelightbox-loading div {
  border-radius: 50%; }

/* line 85, sass/libs/_component.scss */
#imagelightbox-loading {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10003;
  top: 50%;
  left: 50%;
  padding: 0.625em;
  /* 10 */
  margin: -1.25em 0 0 -1.25em;
  /* 20 */
  /* 40 */
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
  /* 40 */ }

/* line 101, sass/libs/_component.scss */
#imagelightbox-loading div {
  width: 1.25em;
  /* 20 */
  height: 1.25em;
  /* 20 */
  background-color: #fff;
  -webkit-animation: imagelightbox-loading .5s ease infinite;
  animation: imagelightbox-loading .5s ease infinite; }

@-webkit-keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75); } }
@keyframes imagelightbox-loading {
  from {
    opacity: .5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: .5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }
/* OVERLAY */
/* line 127, sass/libs/_component.scss */
#imagelightbox-overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 9998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* "CLOSE" BUTTON */
/* line 142, sass/libs/_component.scss */
#imagelightbox-close {
  width: 2.5em;
  /* 40 */
  height: 2.5em;
  /* 40 */
  text-align: left;
  border: none;
  background-color: #666;
  border-radius: 50%;
  position: fixed;
  z-index: 10002;
  top: 2.5em;
  /* 40 */
  right: 2.5em;
  /* 40 */
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }

/* line 158, sass/libs/_component.scss */
#imagelightbox-close:hover,
#imagelightbox-close:focus {
  background-color: #111; }

/* line 163, sass/libs/_component.scss */
#imagelightbox-close:before,
#imagelightbox-close:after {
  width: 2px;
  background-color: #fff;
  content: '';
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  margin-left: -1px; }

/* line 175, sass/libs/_component.scss */
#imagelightbox-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 181, sass/libs/_component.scss */
#imagelightbox-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* CAPTION */
/* line 191, sass/libs/_component.scss */
#imagelightbox-caption {
  text-align: center;
  color: #fff;
  background-color: #666;
  position: fixed;
  z-index: 10001;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.625em;
  /* 10 */ }

/* NAVIGATION */
/* line 207, sass/libs/_component.scss */
#imagelightbox-nav {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: fixed;
  z-index: 10001;
  left: 50%;
  bottom: 3.75em;
  /* 60 */
  padding: 0.313em;
  /* 5 */
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/* line 222, sass/libs/_component.scss */
#imagelightbox-nav button {
  width: 1em;
  /* 20 */
  height: 1em;
  /* 20 */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.313em;
  /* 5 */ }

/* line 232, sass/libs/_component.scss */
#imagelightbox-nav button.active {
  background-color: #fff; }

/* ARROWS */
/* line 240, sass/libs/_component.scss */
.imagelightbox-arrow {
  width: 3.75em;
  /* 60 */
  height: 7.5em;
  /* 120 */
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  display: none;
  position: fixed;
  z-index: 10001;
  top: 50%;
  margin-top: -3.75em;
  /* 60 */
  border: none; }

/* line 254, sass/libs/_component.scss */
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.75); }

/* line 260, sass/libs/_component.scss */
.imagelightbox-arrow:active {
  background-color: #111; }

/* line 264, sass/libs/_component.scss */
.imagelightbox-arrow-left {
  left: 2.5em;
  /* 40 */ }

/* line 268, sass/libs/_component.scss */
.imagelightbox-arrow-right {
  right: 2.5em;
  /* 40 */ }

/* line 272, sass/libs/_component.scss */
.imagelightbox-arrow:before {
  width: 0;
  height: 0;
  border: 1em solid transparent;
  content: '';
  display: inline-block;
  margin-bottom: -0.125em;
  /* 2 */ }

/* line 281, sass/libs/_component.scss */
.imagelightbox-arrow-left:before {
  border-left: none;
  border-right-color: #fff;
  margin-left: -0.313em;
  /* 5 */ }

/* line 287, sass/libs/_component.scss */
.imagelightbox-arrow-right:before {
  border-right: none;
  border-left-color: #fff;
  margin-right: -0.313em;
  /* 5 */ }

/* line 294, sass/libs/_component.scss */
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
  -webkit-animation: fade-in .25s linear;
  animation: fade-in .25s linear; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media only screen and (max-width: 41.25em) {
  /* line 317, sass/libs/_component.scss */
  #container {
    width: 100%;
    font-size:1.5em;
  }

  /* line 321, sass/libs/_component.scss */
  #imagelightbox-close {
    top: 1.25em;
    /* 20 */
    right: 1.25em;
    /* 20 */ }

  /* line 326, sass/libs/_component.scss */
  #imagelightbox-nav {
    bottom: 1.25em;
    /* 20 */ }

  /* line 331, sass/libs/_component.scss */
  .imagelightbox-arrow {
    width: 2.5em;
    /* 40 */
    height: 3.75em;
    /* 60 */
    margin-top: -2.75em;
    /* 30 */ }

  /* line 337, sass/libs/_component.scss */
  .imagelightbox-arrow-left {
    left: 1.25em;
    /* 20 */ }

  /* line 341, sass/libs/_component.scss */
  .imagelightbox-arrow-right {
    right: 1.25em;
    /* 20 */ } }
@media only screen and (max-width: 20em) {
  /* line 349, sass/libs/_component.scss */
  .imagelightbox-arrow-left {
    left: 0; }

  /* line 353, sass/libs/_component.scss */
  .imagelightbox-arrow-right {
    right: 0; } }
/* line 10, sass/libs/bootstrap-grid/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size:1.5em;
  *zoom: 1; }
  /* line 4, sass/libs/_mixins.scss */
  .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  @media (min-width: 768px) {
    /* line 10, sass/libs/bootstrap-grid/_grid.scss */
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    /* line 10, sass/libs/bootstrap-grid/_grid.scss */
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    /* line 10, sass/libs/bootstrap-grid/_grid.scss */
    .container {
      width: 1170px; } }

/* line 30, sass/libs/bootstrap-grid/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1; }
  /* line 4, sass/libs/_mixins.scss */
  .container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

/* line 39, sass/libs/bootstrap-grid/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1; }
  /* line 4, sass/libs/_mixins.scss */
  .row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }


/* line 1, sass/layout/_header.scss */
.site-header {
  *zoom: 1;
  z-index: 99; }
  /* line 4, sass/libs/_mixins.scss */
  .site-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
  /* line 5, sass/layout/_header.scss */
  .header-collapse .site-header {
    position: absolute;
    width: 100%; }
  /* line 9, sass/layout/_header.scss */
  .site-header .container {
    *zoom: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    /* line 4, sass/libs/_mixins.scss */
    .site-header .container:after {
      content: " ";
      clear: both;
      display: block;
      overflow: hidden;
      height: 0; }

/* line 14, sass/layout/_header.scss */
#branding {
  float: left;
  position: relative;
  margin: 35px 0 20px;
  color: inherit;
  text-decoration: none; }
  /* line 21, sass/layout/_header.scss */
  #branding img {
    display: block; }
  /* line 22, sass/layout/_header.scss */
  #branding .site-description {
    display: block;
    margin: 0; }

/* line 105, sass/layout/_header.scss */
.mobile-menu {
  clear: both;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: none;
  margin-bottom: 20px; }
  @media screen and (min-width: 641px) {
    /* line 105, sass/layout/_header.scss */
    .mobile-menu {
      display: none !important; } }
  /* line 112, sass/layout/_header.scss */
  .mobile-menu .menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 117, sass/layout/_header.scss */
    .mobile-menu .menu a {
      padding: 10px;
      color: #848484;
      text-decoration: none;
      display: block;
      background: #191919; }
      /* line 124, sass/layout/_header.scss */
      .mobile-menu .menu a:hover {
        color: #fd5927; }
    /* line 126, sass/layout/_header.scss */
    .mobile-menu .menu .current-menu-item a {
      color: #fd5927; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* line 7, sass/layout/_content.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
/* line 16, sass/layout/_content.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

/* line 22, sass/layout/_content.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

/* line 27, sass/layout/_content.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

/* line 32, sass/layout/_content.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* line 40, sass/layout/_content.scss */
.owl-carousel .owl-item {
  float: left; }

/* line 43, sass/layout/_content.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

/* line 47, sass/layout/_content.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
/* line 57, sass/layout/_content.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
/* line 62, sass/layout/_content.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }


/* line 172, sass/pages/_homepage.scss */
.event-carousel {
  margin-bottom: 70px; }

/* line 173, sass/pages/_homepage.scss */
.event-nav {
  float: right; }
  /* line 176, sass/pages/_homepage.scss */
  .event-nav a {
    display: inline-block;
    width: 33px;
    height: 33px;
    color: white;
    background-color: #353535;
    line-height: 32px;
    text-align: center;
    -webkit-transition: .3s ease;
            transition: .3s ease; }
    /* line 186, sass/pages/_homepage.scss */
    .event-nav a:hover {
      background-color: #fd5927; }

/* line 191, sass/pages/_homepage.scss */
.event {
  position: relative;
  padding-left: 100px;

}
  /* line 195, sass/pages/_homepage.scss */
    /* line 211, sass/pages/_homepage.scss */
    .event .entry-date .date {
      font-size: 36px;
      font-size: 2.25em;
      font-weight: 900; }
    /* line 215, sass/pages/_homepage.scss */
    .event .entry-date .month {
      font-size: 14px;
      font-size: 0.875em;
      text-transform: uppercase; }
  /* line 220, sass/pages/_homepage.scss */
  .event .entry-title {
    margin-top: 0;
    font-size: 16px;
    font-size: 1em;
    font-size: normal;
    font-weight: 400; }
    /* line 226, sass/pages/_homepage.scss */
    .event .entry-title a {
      color: white;
      text-decoration: none;

    }

/* line 6, sass/pages/_post.scss */
.content .entry-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-size: 2.25em;
  color: #0f1329; }
/* line 13, sass/pages/_post.scss */
.content .featured-image {
  overflow: hidden;
  margin-bottom: 50px; }
  /* line 16, sass/pages/_post.scss */
  .content .featured-image img {
    width: 100%;
    max-width: 100%; }
/* line 22, sass/pages/_post.scss */
.content .leading {
  margin-bottom: 50px;
  color: white;
  font-size: 18px;
  font-size: 1.125em; }
/* line 27, sass/pages/_post.scss */
.content p {
  margin: 0 0 40px; }

/* line 1, sass/pages/_gallery.scss */
.content.fullwidth {
  padding: 80px 0; }

/* line 5, sass/pages/_gallery.scss */
.mobile-filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 0;
  background: none;
  color: #FFFFFF;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 0.75em;
  display: none;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 480px) {
    /* line 5, sass/pages/_gallery.scss */
    .mobile-filter {
      display: block; } }

/* line 25, sass/pages/_gallery.scss */
.filter-links {
  margin-left: 10em;
margin-bottom: 2em;
  margin-top: 2em;
}
  /* line 27, sass/pages/_gallery.scss */
  .filter-links a {
    margin-left: 3em;
    padding: 1em;
    display: inline-block;
    border: 1px solid #2c2c2c;
    padding: 10px 20px;
    border-radius: 0;
    background: none;
    color: #0f1329;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: normal;
    font-size: 12px;
    font-size: 0.75em;
    -webkit-transition: .3s ease;
            transition: .3s ease;
    margin-right: 10px; }
    /* line 42, sass/pages/_gallery.scss */
    .filter-links a.current, .filter-links a:hover {

      border: 1px solid #EA57A3;
      color: #EA57A3; }

/* line 50, sass/pages/_gallery.scss */
.filterable-items .filterable-item {
  -webkit-transition-property: -webkit-transform, opacity;
          transition-property: transform, opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }

/* line 54, sass/pages/_gallery.scss */
.filterable-items {
  margin: 0 -15px; }

/* line 57, sass/pages/_gallery.scss */
.filterable-item {
  padding: 15px;
  width: 24.5%;
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    /* line 57, sass/pages/_gallery.scss */
    .filterable-item {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    /* line 57, sass/pages/_gallery.scss */
    .filterable-item {
      width: 100%; } }
  /* line 66, sass/pages/_gallery.scss */
  .filterable-item figure {
    overflow: hidden;
    display: block; }
    /* line 70, sass/pages/_gallery.scss */
    .filterable-item figure img {
      width: 100%;
      max-width: 100%;
      display: block; }

